body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
      }
  
  .calculator {
    width: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
      }
  
  .calculator button, .calculator input {
    padding: 15px;
    font-size: 18px;
    text-align: center;
      }
  
  .calculator input {
    grid-column: span 4;
      }
  
  button {
    cursor: pointer;
    background-color: #eaf321;
      }